//Color
$color-white: #fff;
$color-white-1: #e9e9e9;
$color-white-2: rgba(255, 255, 255, 0.9);
$color-white-3: rgba(255, 255, 255, 0.5);
$color-white-4: #f5f5f5;
$color-white-5:rgba(34, 34, 34, 0.05);
$color-black-0:#333;
$color-black-1:#222;
$color-black-2:#323232;
$color-black-3:#606060;
$color-black-4:#0a0a0a;
$color-black-5:rgba(0, 0, 0, 0.1);
$color-black-6:rgba(0, 0, 0, 0.7);
$color-black-7:rgba(0, 0, 0, 0.5);
$color-black-8:#1b1b1b;
$color-black-9:#2c2c2c;
$color-black-10:rgba(0, 0, 0, 0.6);
$color-gray-0:#7e7e7e;
$color-gray-1:#A4A4A4;
$color-gray-2:#A9A8A8;
$color-gray-3:#595959;
$color-gray-4:#757575;
$color-gray-5:#909090;
$color-gray-6:#bbb;
$color-gray-7:#6f7273;
$color-gray-8:#5a5a5a;
$color-gray-9:#a2a2a2;
$color-gray-10: rgba(238, 238, 238, 0.9333333333);
$color-gray-11:#7f7f7f;
$color-gray-12:#434343;
$color-yellow-0:#d6b161;


//Font-size
$fs-0:60px;
$fs-1:13px;
$fs-2:20px;
$fs-3:24px;
$fs-4:18px;
$fs-5:10px;
$fs-6:15px;
$fs-7:96px;
$fs-8:30px;

//Font-weight
$fw-0:normal;
$fw-1:400;
$fw-2:600;
$fw-3:700;
$fw-4:900;
$fw-5:300;

//Line-height
$line-height-0:1.5;
$line-height-1:normal;
$line-height-2:60px;
$line-height-3:30px;
$line-height-4:20px;
$line-height-5:40px;

//Letter spacing
$letter-spacing-0:5px;
$letter-spacing-1:.5px;

//Margin
$mg-0:3px;
$mg-1:20px;
$mg-2:234px;
$mg-3:130px;
$mg-4:-31px;
$mg-5:167px;
$mg-6:30px;
$mg-7:10px;
$mg-8:50px;
$mg-9:70px;
$mg-10:100px;
$mg-11:150px;

//Padding
$pd-0:30px;
$pd-1:12px;
$pd-2:2px;
$pd-3:10px;
$pd-4:100px;
$pd-5:20px;
$pd-6:40px;
$pd-7:80px;

//Border-radius
$border-radius-0:4px;
$border-radius-1:30px;

//Break points 
$breakpoints: ('extra-large': 1200px,
    'large': 992px,
    'medium': 768px,
    'small': 576px,
)