footer {
    background-color: $color-black-1;

    &.section-padding {
        padding: $pd-7 0;
    }

    .footer__item {
        .footer__logo {
            display: block;
            margin-bottom: $mg-1;

            img {
                height: $mg-10;
            }
        }

        .footer__des {
            line-height: $line-height-3;
            color: $color-gray-0;
            margin-bottom: $mg-6;
        }

        .footer__title {
            text-transform: uppercase;
            letter-spacing: $letter-spacing-0 - 4;
            font-size: $fs-1 + 1;
            font-weight: $fw-1;
            color: $color-white;
            margin-bottom: $mg-6;
        }

        .footer__list {
            margin-bottom: $mg-1 * 2;

            li {
                border-bottom: 1px solid $color-black-0;
                transition: all .5s;

                i {
                    padding-right: $pd-1 + 3;
                    color: $color-gray-9;
                    font-size: $fs-1 - 1;
                }

                a {
                    font-weight: $fw-1;
                    text-transform: capitalize;
                    line-height: $line-height-5 + 4;
                    color: $color-gray-9;
                    text-decoration: none;
                }

                &:hover i,
                &:hover a {
                    color: $color-yellow-0;
                }
            }
        }

        .footer__work {
            font-size: 0;

            li {
                display: inline-block;

                a {
                    display: inline-block;
                    width: 55px;
                    height: 55px;
                    margin: 0 $mg-7 $mg-7 0;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}