.number {
    background-color: $color-black-8;

    .section-padding {
        padding: $mg-10 0;
    }

    .numbers__item {
        text-align: center;
        color: $color-white;
        padding: $pd-0 0;

        i {
            font-size: $fs-8 + 6;
            margin-right: $mg-7;
        }

        p {
            display: inline-block;
            font-size: $fs-8 + 6;
            font-weight: $fw-1;
            letter-spacing: $letter-spacing-0 - 3;
        }

        h3 {
            text-transform: uppercase;
            letter-spacing: $letter-spacing-0 - 4;
            font-size: $fs-1 + 2;
            font-weight: $fw-1;
            color: $color-white;
            margin-top: $mg-7;
        }
    }
}