.showcase {
    &.section-padding {
        padding-bottom: 0;
    }

    .section-info {
        text-align: center;
        margin-bottom: $mg-9;

        h2 {
            position: relative;
            text-transform: uppercase;
            padding-bottom: $pd-3;
            margin-bottom: $mg-1;

            &::after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 50%;
                width: 60px;
                height: 2px;
                background-color: $color-gray-3;
                margin-left: $mg-4;
                box-sizing: border-box;
            }
        }

        p {
            margin: auto;
            width: 60%;
            line-height: $line-height-3 - 5;
            color: $color-gray-0;
        }
    }

    .showcase__filter {
        text-align: center;

        .filter-nav {
            display: block;
            .nav-item {
                display: inline-block;
                line-height: $line-height-5;
                .nav-link {
                    font-size: $fs-1 + 1;
                    color: $color-gray-2;
                    text-transform: uppercase;
                    letter-spacing: $letter-spacing-0 - 2;
                    padding: 0;
                    margin: 0 $mg-1 - 5;
                    cursor: pointer;
                    &.active, &:hover {
                        color: $color-black-1;
                    }
                }
            }
        }
    }

    .showcase__content {
        position: relative;
        height: auto;
        margin-top: $mg-8;
        .showcase__item {
            width: 25%;
            padding: 0;
            &:hover .showcase__info {
                opacity: 1;
                .showcase__btn {
                    top: 40%;
                    margin-top: -55px;
                    opacity: 1;
                }
                .showcase__des {
                    bottom: 45%;
                    margin-bottom: -90px;
                    opacity: 1;
                }
            }
        }
        .showcase__photo {
            position: relative;
            img {
                width: 100%;
            }
            .showcase__info {
                text-transform: uppercase;
                @extend %overlay__showcase;
                .showcase__btn {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    font-size: $fs-8 + 5;
                    text-align: center;
                    transform: translateY(45%);
                    opacity: 0;
                    transition: all .3s;
                }
                a {
                    color: $color-black-1;
                    transition: all .5s;
                    &:hover {
                        color: $color-yellow-0;
                        text-decoration: none;
                    }
                }
                .showcase__des {
                    position: absolute;
                    opacity: 0;
                    width: 100%;
                    transform: translateY(-55%);
                    bottom: 0;
                    transition: all .3s;
                    h4 {
                        letter-spacing: $letter-spacing-0 - 1;
                        font-size: $fs-1 + 1;
                        font-weight: $fw-1;
                        line-height: $line-height-0;
                        margin-bottom: $mg-0 + 2;
                    }
                    p {
                        letter-spacing: $letter-spacing-0 - 2;
                        line-height: $line-height-3;
                        text-transform: uppercase;
                        font-size: $fs-1 - 1;
                        color: $color-gray-4;
                        font-weight: $fw-5;
                    }
                }
            }
        }
    }
}